.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 285px;
  margin: 100px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 100px;
  margin-bottom: 38px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 495px;
  grid-gap: 26px 26px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 7px 7px;
}

.u-section-1 .u-icon-1 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 238px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 23px 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 7px 7px;
}

.u-section-1 .u-icon-2 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 238px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 23px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 7px 7px;
}

.u-section-1 .u-icon-3 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  width: 238px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 23px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
    min-height: 408px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    min-height: 938px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 270px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 170px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1338px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 362px;
  height: auto;
  width: 560px;
  margin: 50px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 495px;
}

.u-section-3 .u-list-1 {
  margin-top: 100px;
  margin-bottom: 20px;
  grid-template-rows: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/55c68c3da7f6983d1713fdd6ef5df90c8c705c92f1b540a7e924685ac2c778cf0713b3f9cca812ba09801da2c331c603af7a71ecd1d18d97322968_1280.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/393554ba60f5a5124e27935432347235ac8be9c1e7fef0986c58295c86ebbd0c5a91fcf6378976529d9a90332b8649fe59f87027220ef3b8ecf9b1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/a6394097544cb9164ea4d2c424750fab3ae05c407bc14fd3b03d5ab1661a69029ea2ece49e6451bc2896958be303f6b8c6ddd0e3263f5599cc0038_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}